$color_1: red;
$color_2: black;
$color_3: blue;
$color_4: white;
$font-family_1: Arial, sans-serif;
$font-family_2: cursive;
$background-color_1: rgb(214, 190, 190);
$background-color_2: #ffffff;
$background-color_3: #ffcbb2;
$background-color_4: #60df12;
$background-color_5: #4ebc0f;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 800px;
	padding: 15px;
	border: 1px solid #ddd;
}
.post {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 800px;
	padding: 15px;
	border: 1px solid #ddd;
	img {
		max-width: 100%;
		height: auto;
	}
}
.logo {
	width: 200px;
	height: 30px;
	padding: 0 0;
	font-size: 25px;
	font-family: $font-family_2;
	margin-left: 1rem;
	color: $color_1;
	text-shadow: rgba(5, 5, 236, 1) 2px 1px 1px;
}
header {
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: $background-color_1;
	border: rgba(0, 0, 0, 0.3) 5px solid;
}
.sidebar {
	padding: 10px 20px;
	position: fixed;
	top: 50px;
	left: 10px;
	width: 200px;
	height: auto;
	background-color: $background-color_2;
	border: black 2px solid;
	margin-top: 1rem;
	ul {
		list-style: none;
		padding: 0;
		li {
			margin-bottom: 0.5rem;
		}
	}
	a {
		text-decoration: none;
		color: $color_2;
		&:hover {
			color: $color_3;
		}
	}
}
.container {
	margin-top: 45px;
	width: 100%;
}
main {
	margin: 0 20%;
	width: 70%;
}
.search {
	position: absolute;
	left: 20%;
	width: 70%;
	input[type="text"] {
		padding: 10px 40px 10px 20px;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 100%;
	}
	.search-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}
}
.Cart-button {
	width: auto;
	height: 40px;
	padding: 0.2rem;
}
.card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	padding: 20px;
	margin: 0 auto;
}
.card {
	position: relative;
	border: 1px solid #ccc;
	border-radius: 8px;
	overflow: hidden;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	font-family: $font-family_1;
	gap: 1rem;
	background-color: $background-color_3;
	img {
		width: 100%;
		height: 15rem;
		object-fit: cover;
	}
}
.card-content {
	bottom: 0;
	left: 0;
	right: 0;
	padding: 16px;
}
.card-title {
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.card-price {
	margin-top: 1rem;
	font-size: 16px;
}
.buy-button {
	display: inline-block;
	margin-top: 12px;
	padding: 10px 20px;
	background-color: $background-color_4;
	color: $color_4;
	text-decoration: none;
	border-radius: 4px;
	&:hover {
		background-color: $background-color_5;
	}
}
@media (min-width: 1200px) {
	.card-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media (max-width: 1199px) and (min-width: 768px) {
	.card-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 767px) {
	.card-container {
		grid-template-columns: 1fr;
		gap: 12px;
		padding: 10px;
	}
	.card {
		padding: 1rem;
		img {
			height: 12rem;
		}
	}
	.card-title {
		font-size: 16px;
	}
	.card-price {
		font-size: 14px;
	}
	.buy-button {
		padding: 8px 16px;
	}
}
@media (max-width: 1024px) {
	.sidebar {
		width: 200px;
	}
	main {
		margin: 0 220px;
	}
	.search {
		left: 21.5%;
	}
}
@media (max-width: 992px) {
	.sidebar {
		width: 180px;
	}
	main {
		margin: 0 200px;
	}
	.logo {
		width: 50px;
		height: 30px;
		padding: 0 0;
		font-size: 15px;
	}
}
@media (max-width: 768px) {
	.sidebar {
		display: none;
		position: fixed;
		max-width: 80%;
		z-index: 10;
		margin-top: 1rem;
	}
	main {
		margin: 0 auto;
		width: 100%;
	}
	.card-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		margin: 0 auto;
	}
	.logo {
		width: 100px;
		height: 30px;
		padding: 0 0;
		font-size: 20px;
		margin-left: -0.5rem;
	}
	.search {
		left: 16%;
	}
}
@media (max-width: 426px) {
	.search {
		width: 15rem;
		margin-left: 3rem;
	}
	.logo {
		width: 100px;
		height: 30px;
		padding: 0 0;
		margin-left: -0.5rem;
		font-size: 20px;
	}
	.Cart-button {
		width: auto;
		height: 40px;
		padding: 0.2rem;
		margin-right: -0.5rem;
	}
}
@media (max-width: 376px) {
	header {
		padding: 10px;
	}
	main {
		padding: 10px;
	}
	.search {
		width: 11rem;
		margin-left: 2rem;
	}
	.card-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 16px;
		margin: 0 auto;
	}
	.logo {
		width: auto;
		height: auto;
		padding: 0 0;
		margin-left: -0.4rem;
		font-size: 13px;
	}
}
