$color_1: red;
$font-family_1: Arial, sans-serif;
$font-family_2: cursive;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
.container {
	margin: 0 auto;
	padding: 1rem;
}
.logo {
	text-align: center;
	font-size: 30px;
	margin: 0 auto;
	width: 100%;
	max-width: 20rem;
	font-family: $font-family_2;
	color: $color_1;
	text-shadow: rgba(5, 5, 236, 1) 2px 1px 1px;
}
.content {
	display: flex;
}
.articles {
	padding: 10px;
	border: 3px solid black;
	flex: 3;
}
.sidebar {
	padding: 10px;
	border: 3px solid black;
	flex: 1;
	h2 {
		font-size: 18px;
		margin-bottom: 10px;
	}
	p {
		font-size: 14px;
		margin-bottom: 20px;
	}
}
.post {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}
.image {
	width: 50%;
	height: auto;
	object-fit: cover;
}
.images {
	display: flex;
	width: 50%;
	margin-bottom: 1rem;
}
.image.double {
	width: 100%;
}
.text {
	flex: 1;
	h2 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	p {
		font-size: 14px;
		margin-top: 1rem;
	}
}
h2 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}
p {
	margin: 0;
	font-size: 1rem;
}
@media (max-width: 768px) {
	.content {
		flex-direction: column;
	}
	.image.double {
		width: 100%;
	}
}
